<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      拍照
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content #ioncontent (ionScrollEnd)="scrollEnd()" [scrollEvents]="true">
  <ion-list>
    <ion-item>
      <ion-input label="点名" labelPlacement="floating" placeholder="点名由字母及数字组成" [(ngModel)]="photoService.pointName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select label="选择大类" placeholder="请选择" [(ngModel)]="photoService.type1Select" (ionChange)="typeChange()">
        <ion-select-option *ngFor="let option of photoService.type1Options"
          [value]="option.value">{{option.label}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select label="选择小类" placeholder="请选择" [(ngModel)]="photoService.type2Select" (ionChange)="typeChange()">
        <ion-select-option *ngFor="let option of photoService.type2Options"
          [value]="option.value">{{option.label}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item-sliding *ngFor="let photo of photoService.photos;index as i">
      <ion-item>
        <ion-thumbnail slot="start" (click)="showPhoto(photo)">
          <ion-img [src]="photo.webviewPath" />
        </ion-thumbnail>
        <ion-label>{{photo.filepath}}</ion-label>
      </ion-item>
      <ion-item-options>
        <ion-item-option (click)="renamePhoto(photo, i)">重命名</ion-item-option>
        <ion-item-option color="danger" (click)="deletePhoto(photo, i)">删除</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" class="btn-take-photo" (click)="addPhotoToGallery()">拍照</ion-button>
  </ion-toolbar>
</ion-footer>
<ion-modal #ionmodal [presentingElement]="presentingElement">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{modal.title}}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="ionmodal.dismiss()">关闭</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-img [src]="modal.imgSrc" />
    </ion-content>
  </ng-template>
</ion-modal>