<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="page-take-photo" href="/tabs/page-take-photo">
      <ion-icon aria-hidden="true" name="camera-outline"></ion-icon>
      <ion-label>拍照</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="page-gallery" href="/tabs/page-gallery">
      <ion-icon aria-hidden="true" name="image-outline"></ion-icon>
      <ion-label>图库</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="page-settings" href="/tabs/page-settings">
      <ion-icon aria-hidden="true" name="cog-outline"></ion-icon>
      <ion-label>设置</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
